* {
    box-sizing: border-box;
  }
  /* For spltting into 2 columns */
  /* two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    border: 1px solid rgb(189, 188, 188);
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    height: 800px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .drag-textarea {
    width: 100%;
    padding: 12px 20px 12px 38px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  /* For draggable input fields */
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  .box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
  }
  /* drop targets */
  .box.over {
    border: 3px dotted #666;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  .drag-handle {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
  }

  /* Drag & Drop */
  .draggable-element {
    display: flex;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 150px;
    border: 2px solid #7C4DFF;
    border-radius: 8px
  }
  .draggable-element:active {
    box-shadow: 0px 8px 65px 0px rgba(124,77,255,1);
  }
  .disabled {
    background-color: #eee;
    color: #888;
    cursor: not-allowed;
  }

  /* select line to publish instrction */
  .not-selected {
    cursor: pointer;
  }
  
  .selected {
    background-color: #a6c0f4;
    cursor: default;
  }
  .clickable {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

 button[type="home"] {
    background-color: none;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
