<!-- top-nav-bar ------------------ -->
<div class="display--flex justify-content--flex-end">
    <span class="material-symbols-outlined">
        search
    </span>
    <span class="material-symbols-outlined">
        person
    </span>
</div>
<!-- Drop-Down for different views----------------  -->
<div class="display--flex justify-content--space-between">
    <div class="dropdown">
        <div class="dropdown__selection" (click)="toggleDropdown()">
            <p>{{views[view]}}</p>
            <span class="material-symbols-outlined">
                arrow_drop_down
            </span>
        </div>
        <ul class="dropdown__options" *ngIf="dropdownActive">
            <li *ngFor="let view of views; let i = index" (click)="setView(i)">{{view}}</li>
        </ul>
    </div>
</div>
<h2 #title style="text-align:center">{{ currentTitle }}</h2>
<!-- <button (click)="testAPI()">Test API</button> -->

<!--Interaction View------------------- -->
<div *ngIf="view==0">
    <!-- creator & reveal score ----------------  -->
    <div class="display--flex justify-content--flex-start">
        <p style="color: rgb(130, 130, 130)">( you are viewing title + {{currentRevealScoreToPublic}}% of the work)</p>
    </div>
    <div class="display--flex justify-content--flex-end">
        <p>@{{ originalCreator }}</p>
    </div>

    <div class="row">
        <!-- Original work & Re-writing work-->
        <div class="column" style="background-color:#ffffff;">
            <h4>Original work</h4>
            <!-- if not "Save", show partially visible paragraph -->
            <p *ngIf="isButtonSaveClicked==false" [innerHTML]="entireParagraphWithSpanBreak"></p>
            <!-- if "Save", show fully visible paragraph -->
            <p *ngIf="isButtonSaveClicked==true">{{ entireParagraphWithoutBreak }}</p>

            <div class="w3-border">
                <div class="w3-grey" style="height:24px;width:20%"></div>
            </div>
            <p style="color: rgb(130, 130, 130)">{{interactionInstruction1}}</p>
            
            <!-- resortable list for 3 input fields -->
            <form #resortableList cdkDropList (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of items; let i = index" cdkDrag>
                    <div class="input-wrapper">
                        <span class="material-symbols-outlined drag-handle">
                            drag_indicator
                        </span>
                    </div>
                    <textarea class="drag-textarea" [id]="'text' + i" [rows]="item.rows"
                    [placeholder]="item.placeholder?.trim()" [(ngModel)]="item.text" 
                    [name]="'item-' + i" [ngModelOptions]="{standalone: true}" 
                    [disabled]="item.disabled" ></textarea>
                    <input [id]="'placeholder' + i" [type]="'hidden'" [(ngModel)]="item.placeholder" 
                    [name]="'placeholder-' + i" [ngModelOptions]="{standalone: true}" />
                </div>
            </form>

            <!-- Display Full rewriting work -->
            <div style="white-space: pre-line">
                <p *ngIf="isButtonSaveClicked">Your Rewriting work:</p>
                <!-- <p [innerHTML]="inputTextResorted.join('<br>')"></p> -->
            </div>
            <!-- selct sentence to publish -->
            <div *ngFor="let line of inputTextResorted; let i = index" 
            [ngClass]= "i === selectedLineIndex ? 'selected' : 'not-selected'" (click)="onLineClick(i)">
                {{ line }}
            </div>
            <!-- "Save" button -->
            <!-- shown when "Save" not clicked & disabled when no input texts -->
            <p *ngIf="!isButtonSaveClicked" style="color: rgb(130, 130, 130)">(you can no longer edit the piece once hitting Save)</p>
            <div class="justify-content--flex-end display--flex margin-top--24">
                <button  *ngIf="!isButtonSaveClicked" (click)="getSortedItems(); hideResortableList(resortableList)"  
                [disabled]="(items[0].text && items[2].text) ? false : true" >Save</button>
            </div>
            <!-- "Publish" button -->
            <!-- shown when "Save" is clicked & disabled when no line selected -->
            <div class="justify-content--flex-end display--flex margin-top--24">
                <button  *ngIf="isButtonSaveClicked" (click)="publishNewParagraph();changetoPublishView()" 
                [disabled]="!lineSelected">Publish</button>
            </div>
        </div>
        
        <!-- Parallel work -->
        <div class="column" style="background-color:rgb(250, 250, 250);">
            <h4>Parallel collaborative work</h4>
            <p style="font-weight: bold">{{ currentTitle }}</p>  
        </div>
    </div>
</div>

<!--Community View------------------- -->
<div *ngIf="view==1">
    <!-- creator & reveal score ----------------  -->
    <div class="display--flex justify-content--flex-start">
        <p style="color: rgb(130, 130, 130)">( you are viewing title + 100% of the work)</p>
    </div>
    <div class="display--flex justify-content--flex-end">
        <p>@{{ originalCreator }}</p>
    </div>

    <div class="row">
        <!-- Original work & Re-writing work-->
        <div class="column" style="background-color:#ffffff;">
            <h4>Original work</h4>
            <!-- <p *ngIf="paragraph">{{ paragraph.paragraph }}</p> -->
            <p [innerHTML]="entireParagraphWithoutBreak"></p>
            <div class="w3-border">
                <div class="w3-grey" style="height:24px;width:20%"></div>
            </div>
            <p style="color: rgb(130, 130, 130)">Your Rewriting Work:</p>
            <p style="color: rgb(130, 130, 130)">(only fully visible to you)</p><br>
            <p [innerHTML]="inputTextResorted.join('<br>')"></p>
        </div>

        <!-- Parallel work -->
        <div class="column" style="background-color:rgb(250, 250, 250);">
            <h4>Parallel collaborative work</h4>
            <p style="color: rgb(130, 130, 130)">You have contributed to the next sentence of the parallel work. Click each sentence to access other rewritings based on the same original work.</p>
            <br>
            <p>{{ currentTitle }}</p>
            <p *ngIf="selectedLineIndex !== undefined">{{ nextSentenceForParallel }}</p>
        </div>
    </div>
</div>

<!--Public View---------------------- -->
<div *ngIf="view==2">
    <!-- creator & reveal score ----------------  -->
    <div class="display--flex justify-content--flex-start">
        <p style="color: rgb(130, 130, 130)">( you are viewing title + {{currentRevealScoreToPublic}}% of the work)</p>
    </div>
    <div class="display--flex justify-content--flex-end">
        <p>@{{ originalCreator }}</p>
    </div>

    <div class="row">
        <!-- Original work & Re-writing work-->
        <div class="column" style="background-color:#ffffff;">
            <h4>Original work</h4>
            <!-- partially visible paragraph -->
            <p [innerHTML]="entireParagraphWithSpanBreak"></p>
            <div class="w3-border">
                <div class="w3-grey" style="height:24px;width:20%"></div>
            </div>
            <button  (click)="changetoInteractionView()" >Rewrite this work</button>
        </div>
        
        <!-- Parallel work -->
        <div class="column" style="background-color:rgb(250, 250, 250);">
            <h4>Parallel collaborative work</h4>
            <p style="font-weight: bold">{{ currentTitle }}</p>  
        </div>
    </div>
</div>

<!--Owner View------------------>
<div *ngIf="view==3">
    <!-- creator & reveal score ----------------  -->
    <div class="display--flex justify-content--flex-start">
        <p style="color: rgb(130, 130, 130)">( you are viewing title + 100% of the work)</p>
    </div>
    <div class="display--flex justify-content--flex-end">
        <p>@{{ originalCreator }}</p>
    </div>

    <div class="row">
        <!-- Original work & Re-writing work-->
        <div class="column" style="background-color:#ffffff;">
            <h4>Original work</h4>
            <!-- <p *ngIf="paragraph">{{ paragraph.paragraph }}</p> -->
            <p [innerHTML]="entireParagraphWithBreak"></p>
            <div class="w3-border">
                <div class="w3-grey" style="height:24px;width:20%"></div>
            </div>
        </div>

        <!-- Parallel work -->
        <div class="column" style="background-color:rgb(250, 250, 250);">
            <h4>Parallel collaborative work</h4>
            <p style="color: rgb(130, 130, 130)">Click each sentence to access others rewriting version or your original work.</p>
            <br>
            <p>{{ currentTitle }}</p>
            <p *ngIf="selectedLineIndex !== undefined">{{ inputTextResorted[selectedLineIndex] }}</p>
        </div>
    </div>
</div>