.auth-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  margin: auto;
  max-width: none;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.textarea-container {
  
  display: flex;
  justify-content: center;
}

.textarea-create-original {
  width: 80%;
  position: relative;
  display: flex;
  margin: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

button[type="submit"] {
  width: 40%;
  background-color: #797979;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

/* select line to publish instrction */
.not-selected {
  cursor: pointer;
}

.selected {
  background-color: #a6c0f4;
  cursor: default;
}