<!-- top-nav-bar ------------------ -->
<img src="assets/image/re-collect-logo.png" alt="Logo" style="
width: 100px; cursor: pointer;" (click)="goToHome()" />
<!-- <button  type="welcome" (click)="goToHome()"> home</button> -->
<div class="display--flex justify-content--flex-end">
    <div class="top-nav-container">
        <button (click)="goToStarter()" style="display:inline-flex; align-items: center; color: #4d4d4d; background-color: transparent;">
            <span class="material-symbols-rounded" style="cursor: pointer; margin: 0px 5px;">
                info
            </span>
            <p style="font-size: small;">About Re-Collect</p>
        </button>
        <!-- <span class="material-symbols-outlined">
            search
        </span> -->
        <div class="person-container">
            <span class="material-symbols-rounded">
                person
            </span>
            <p *ngIf="isLoggedIn">{{ localStorUsername }}</p>
            <p *ngIf="!isLoggedIn">guest</p>
        </div>
        <button *ngIf="isLoggedIn" (click)="signOut()" style="color: #3b3b3b; background-color: transparent;">
            <span class="material-symbols-rounded" style="cursor: pointer;">
                logout
            </span>
            <p style="font-size: small;">Log out</p>
        </button>
        <!-- <button *ngIf="isLoggedIn" (click)="signOut()" type="instruction">
            Log out
        </button> -->
        <button *ngIf="!isLoggedIn" (click)="goToOnboarding()" type="instruction">
            sign in here
        </button>
    </div>
</div>

<h2 style="text-align:center">Create Original Work</h2>

<div class="display--flex justify-content--flex-end">
    <p>@{{ localStorUsername }}</p>
</div>
<div class="auth-container">
    <div style="margin: 20px; text-align: center;">
        <p style="color: rgb(130, 130, 130)">You may submit original work of yours here</p>
    </div>
    <!-- <div style="display: flex;">
        <p (click)="goToHome()" style=" cursor: pointer;">skip </p>
        <p style="color: rgb(130, 130, 130);" > and browse others works to rewrite</p> 
    </div>> -->
        <!-- Resortable input text fields w/ add & remove buttons -->
        <div *ngIf="!isButtonSaveClicked">
            <div style="display: flex; align-items: flex-start;">
                <div style="width: 100%;">
                    <div *ngFor="let input of inputs; let i = index">
                        <div class="input_container" style="display: flex; margin: 5px 0px;">
                            <input [(ngModel)]="input.value" style="width: 90%; height:30px;" />
                            <div *ngIf="inputs.length > 2">
                                <span class="material-symbols-rounded" (click)="removeInput(i)"
                                    style="cursor: pointer; margin: 0px 10px;">
                                    delete
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- add field dot line button -->
                    <div class="add-icon-container" (click)="addInput()" style="cursor: pointer;">
                        <div class="add-icon-wrapper">
                            <span class="material-symbols-rounded add-icon">
                                add
                            </span>
                            <span class="add-icon-text">Add New Field</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button (click)="goToHome()" type="instruction">skip</button> -->
    <p *ngIf="isButtonSaveClicked" style="color: rgb(130, 130, 130)">Select one sentence as title. This will be the only
        visible text among all by default.</p>
    <!-- Display Full Original work -->
    <div style="white-space: pre-line">
        <p *ngIf="isButtonSaveClicked">Your Original work:</p>

        <!-- selct sentence to publish -->
        <div *ngIf="isButtonSaveClicked">
            <div *ngFor="let line of inputTextinArray; let i = index"
                [ngClass]="i === selectedLineIndex ? 'selected' : 'not-selected'" (click)="onLineClick(i)">
                {{ line }}
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <!-- "Save" button -->
        <!-- shown when "Save" not clicked & disabled when no input texts -->
        <!-- <p *ngIf="!isButtonSaveClicked" style="color: rgb(130, 130, 130)">(you can no longer edit the piece once hitting
        Save)</p> -->
        <button *ngIf="!isButtonSaveClicked" (click)="enableSaveButton(); getInputText()" [disabled]="!hasValidInputs()"
            style="width: 90%;">
            Save
        </button>
        <!-- "Publish" button -->
        <!-- shown when "Save" is clicked & disabled when no line selected -->
        <button *ngIf="isButtonSaveClicked" (click)="publishNewParagraph()" [disabled]="!lineSelected"
            style="width: 90%;">
            Publish
        </button>
        <p *ngIf="isPublished">Successfully published!</p>
        <!-- Enter re-collect -->
        <button (click)="goToHome()" style="width: 80%; color: black; background-color: transparent;"> Skip and Enter
            Re-collect</button>

    </div>

</div>