<div class="display--flex justify-content--flex-end">
    <p>@yourName</p>
</div>
<h2 >Create Original Work</h2>
<h3>To start, submit at least one original work of yours to enable rewriting of others</h3>
            <div class="w3-border">
                <div class="w3-grey" style="height:24px;width:20%"></div>
            </div>
            <p>Create rewriting of the piece using title sentence</p>
            <!-- resortable list for 3 input fields -->
            <form #resortableList cdkDropList (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of items; let i = index" cdkDrag>
                    <span class="material-symbols-outlined">
                        drag_indicator
                    </span>
                    <textarea [id]="'text' + i" [rows]="item.rows"
                    [placeholder]="item.placeholder" [(ngModel)]="item.text" 
                    [name]="'item-' + i" [ngModelOptions]="{standalone: true}" 
                    [disabled]="item.disabled" ></textarea>
                    <!-- <input [id]="'placeholder' + i" [type]="'hidden'" [(ngModel)]="item.placeholder"  -->
                    <!-- [name]="'placeholder-' + i" [ngModelOptions]="{standalone: true}" /> -->
                </div>
            </form>

            <div>
                <button  (click)="getSortedItems(); hideResortableList(resortableList)"  
                [disabled]="(items[0].text && items[2].text) ? false : true" 
                [textContent]="buttonText"></button>
            </div>