<!-- top-nav-bar ------------------ -->
<div class="display--flex justify-content--flex-end">
    <span class="material-symbols-outlined">
        search
    </span>
    <span class="material-symbols-outlined">
        person
    </span>
</div>

<h2 style="text-align:center">Create Original Work</h2>

<!-- title & creator----------------  -->
<div class="display--flex justify-content--flex-start">
</div>
<div class="w3-border">
    <div class="w3-grey" style="height:24px;width:20%"></div>
</div>
<p style="color: rgb(130, 130, 130)">To start, submit at least one original work of yours to enable interacting with other works</p>
<!-- input text ------------------>
<div class="display--flex justify-content--flex-end">
    <p>@originalcreator1</p>
</div>
<div class="textarea-container">
    <textarea [(ngModel)]="inputText" *ngIf="!isButtonSaveClicked" 
    id="originalParagraph" rows="20" 
    placeholder="Write your original work here"></textarea>

</div>
<p *ngIf="isButtonSaveClicked" style="color: rgb(130, 130, 130)">Select one sentence as title. This will be the only visible text among all by default.</p>
<!-- Display Full Original work -->
<div style="white-space: pre-line">
    <p *ngIf="isButtonSaveClicked">Your Original work:</p>
    <div *ngIf="isButtonSaveClicked">
        <div *ngFor="let line of inputText.split('\n')" (click)="selectedLine = line; lineSelected = true;" [ngClass]="{'selected': selectedLine === line}" style="cursor: pointer;" >
            {{line}}
        </div>
    </div>
</div>

<!-- "Save" button -->
<!-- shown when "Save" not clicked & disabled when no input texts -->
<p *ngIf="!isButtonSaveClicked" style="color: rgb(130, 130, 130)">(you can no longer edit the piece once hitting Save)</p>
<button  *ngIf="!isButtonSaveClicked" (click)="enableSaveButton()" [disabled]="!inputText" >
    Save
</button>

<!-- "Publish" button -->
<!-- shown when "Save" is clicked & disabled when no line selected -->
<button *ngIf="isButtonSaveClicked" (click)="goToOwnerView(); getSelectedLine()" [disabled]="!lineSelected">
    Publish
</button>
<!-- ;fromCreateInteractionWorkComponent=true -->
