<!-- top-nav-bar ------------------ -->
<img src="assets/image/Re-collect logo.png" alt="Logo" style="
width: 8%; cursor: pointer;" (click)="goToHome()"/>
<div class="display--flex justify-content--flex-end">
    <!-- <span class="material-symbols-outlined">
        search
    </span>
    <span class="material-symbols-outlined">
        person
    </span> -->
    <button *ngIf="isLoggedIn" (click)="signOut()" style="color: #3b3b3b; background-color: transparent;">
        <span class="material-symbols-rounded" style="cursor: pointer;">
            logout
        </span>
        <p style="font-size: small;">Log out</p>
    </button>
</div>
<div class="auth-container">
    <h2>{{ isSigningUp ? 'Sign Up' : 'Sign In'}}</h2>
    <form (submit)="onSubmit()">
        <div *ngIf="isSigningUp" class="form-group">
            <!-- *ngIf="isSigningUp" -->
            <label for="username">Username</label>
            <input type="username" id="username" name="username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <!-- Sign UP & Sign In button -->
        <button  *ngIf="isSigningUp" [disabled]="!username || !email || !password " >{{isSigningUp ? 'Sign Up' : 'Sign In'}}</button>
        <button  *ngIf="!isSigningUp" [disabled]="!email || !password" >{{isSigningUp ? 'Sign Up' : 'Sign In'}}</button>
    </form>

    <div *ngIf="message" class="message">{{ message }}</div>
    <button type="instruction" (click)="toggleSignIn()">
        {{ isSigningUp ? 'Already have an account? Sign in' : 'New to "Re-collect" ? Sign up' }}
    </button>
    <p>{{ errorMessage }}</p>
    <p *ngIf="signInSuccess">Sign In Successful!</p>
    <button  *ngIf="signUpSuccess && this.signInAfterSignUp" (click)="toggleSignIn(); temporarilyHideItself()"> Sign In to Re-collect</button>
    <button  *ngIf="signInSuccess" (click)="goToHome()"> Enter Re-collect</button>
</div>

