<!-- top-nav-bar ------------------ -->
<div class="display--flex justify-content--flex-end">
    <span class="material-symbols-outlined">
        search
    </span>
    <span class="material-symbols-outlined">
        person
    </span>
</div>
<div class="auth-container">
    <h2>{{ isSigningUp ? 'Sign Up' : 'Sign In'}}</h2>
    <form (submit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <button type="submit">{{isSigningUp ? 'Sign Up' : 'Sign In'}}</button>
    </form>
    <div *ngIf="message" class="message">{{ message }}</div>
    <button (click)="toggleSignIn()">
        {{ isSigningUp ? 'Already have an account? Sign in' : 'New to "Re-collect" ? Sign up' }}
    </button>
</div>

