<h1>A long journey from bush to concrete</h1>
<div>
  <p>Through decades that ran like rivers,</p>
  <p>endless rivers of endless woes.</p>
  <p>Through pick and shovel sjambok and jail.</p>
  <p>O such a long long journey!</p>
  <p>When the motor-car came,</p>
  <p>the sledge and the ox-cart began to die.</p>
  <p>But for a while the bicycle made in Britain,</p>
  <p>was the dream of every village boy.</p>
  <p>With the arrival of the bus,</p>
  <p>the city was brought into the village,</p>
  <p>and we began to yearn for the place behind the horizons.</p>
  <p>Such a long travail it was.</p>
  <p>A long journey from bush to concrete.</p>
</div>
<div class="margin-top--64">
  <textarea rows="4" id="textarea"></textarea>
  <div class="justify-content--flex-end display--flex margin-top--24">
    <button>Save</button>
  </div>
</div>