<h1>A long journey from bush to concrete</h1>
<p>Through decades that ran like rivers, 
endless rivers of endless woes.
Through pick and shovel sjambok and jail. 
O such a long long journey!
When the motor-car came, 
the sledge and the ox-cart began to die. 
But for a while the bicycle made in Britain, 
was the dream of every village boy. 
With the arrival of the bus, 
the city was brought into the village, 
and we began to yearn for the place behind the horizons. 
Such a long travail it was. 
A long journey from bush to concrete.</p>
<input type="text" id="main-input">
<button>Save</button>