

<div class="auth-container" style="text-align: center;">
    <img src="assets/image/re-collect-logo.png" style="width: 35%; cursor: pointer;" (click)="goToHome()" />
    <h2 style="margin: 20px 0px;">Re-collect is a social system where you write and rewrite -- to challenge impermanence.</h2>

    <div style="margin: 20px 0px; display: flex;">
        <button (click)="goToOnboarding()" style="font-size: medium;">Sign up</button>
    </div>
    <p>
        Curious to take a look?
        <button (click)="goToHome()" style="color: black; background-color: transparent;">Visit as guest</button>
    </p>
    <div style="text-align: left; padding: 40px;">
        <h3>About</h3>
        <p style="margin: 20px 0px;">
            While every work you write stays permanently visible to you, others’ works would 
            only be partially-visible to public by default. To immediately access others' 
            works fully, you must rewrite it, and they must do the same for accessing your work. 
            Each contribution in rewriting helps the work get more visible in public space. 
            And all rewriting versions of a work collaboratively form a parallel interpretation 
            by the community.
        </p>
        <p style="margin: 20px 0px;">
            However, like memories, works in re-collect may partially fades away by time in public space,
            while each action of re-collecting a fragmental interpretation solidifies a work.</p>
        <p style="margin: 20px 0px;">
            How disorienting would it be to interact on a platform where active involvement is 
            required in order to access? How would you choose to collect — and re-collect when 
            freed from illusion of permanence?
        </p>
        <p style="margin: 20px 0px;">
            Just like real memories in life, collaborative interpretations in re-collect may be 
            fragmental and imaginative, but through active involvements, we together challenge 
            the impermanence nature.
        </p>
    </div>
   
</div>