* {
    box-sizing: border-box;
}

html {
   font-family: 'DM Sans', sans-serif;
}

body {
    padding: 24px;
}

p {
    margin: 0;
}

#textarea {
    width: 100%;
}

textarea {
    border: 1px solid black;
    padding: 12px 12px;
}

.top-nav-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.person-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* .auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: auto;
    max-width: 400px;
    padding: 20px;
} */

/* BUTTON */

button {
    background-color: #7c7c7c;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #c1c1c1;
    color: #ffffff;
    cursor: not-allowed;
}

button[type="instruction"] {
    background-color: transparent;
    color: #292929;
    /* cursor: not-allowed; */
}

/* MARGINS */
.margin-top--24 {
    margin-top: 24px;
}

.margin-top--64 {
    margin-top: 64px;
}

/* FLEX */
.display--flex {
    display: flex;
}

.justify-content--flex-end {
    justify-content: flex-end;
}

.justify-content--space-between {
    justify-content: space-between;
}

/* DROP-DWON */
.dropdown {
    position: relative;
    
}

.dropdown__selection {
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.dropdown__options {
    border: 1px solid black;
    border-radius: 3px;
    list-style: none;
    padding: 6px;
    position: absolute;
    z-index: 1;
    background-color: white;
}

.dropdown__options li {
    cursor: pointer;
    padding: 12px;
}

.dropdown__options li:hover {
    text-decoration: underline;
}

.dropdown__options li.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* MATERIAL- SYMBOLS */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.substring--visible {
    
  }
  
.substring--hidden {
    background-color: #666;
    color: transparent;
    user-select: none;
}