<!-- top-nav-bar ------------------ -->
<div class="display--flex justify-content--flex-end">
    <span class="material-symbols-outlined">
        search
    </span>
    <span class="material-symbols-outlined">
        person
    </span>
</div>

<h2 style="text-align:center">Public Gallery Page</h2>
<!-- for testing out the route -->
<button (click)="viewParagraph(paragraphId1)">View Paragraph {{paragraphId1}}</button>
<button (click)="viewParagraph(paragraphId2)">View Paragraph {{paragraphId2}}</button>