<!-- top-nav-bar ------------------ -->
<img src="assets/image/re-collect-logo.png" alt="Logo" style="
width: 100px; cursor: pointer;"/>
<div class="display--flex justify-content--flex-end">
    <div class="top-nav-container">
        <button (click)="goToStarter()" style="display:inline-flex; align-items: center; color: #4d4d4d; background-color: transparent;">
            <span class="material-symbols-rounded" style="cursor: pointer; margin: 0px 5px;">
                info
            </span>
            <p style="font-size: small;">About Re-Collect</p>
        </button>
        <!-- <span class="material-symbols-outlined">
            search
        </span> -->
        <button (click)="goToCreateOriginal()" style="display:inline-flex; align-items: center; color: #4d4d4d; background-color: transparent;">
            <span class="material-symbols-rounded" style="cursor: pointer;">
                post_add
            </span>
            <p style=" font-size: small;">Create Original Work</p>
        </button>
        <div class="person-container">
            <span class="material-symbols-rounded">
                person
            </span>
            <p *ngIf="isLoggedIn">{{ localStorUsername }}</p>
            <p *ngIf="!isLoggedIn">guest</p>
        </div>
        <button *ngIf="isLoggedIn" (click)="signOut()" style="color: #3b3b3b; background-color: transparent;">
            <span class="material-symbols-rounded" style="cursor: pointer;">
                logout
            </span>
            <p style="font-size: small;">Log out</p>
        </button>
        <!-- <button *ngIf="isLoggedIn" (click)="signOut()" type="instruction">
            Log out
        </button> -->
        <button *ngIf="!isLoggedIn" (click)="goToOnboarding()" type="instruction">
            sign in here
        </button>
    </div>
</div>

<h2 style="text-align:center">Public Gallery Page</h2>

<div class="card" *ngFor="let item of this.titleArray; let i = index">
    <div class="card-body">
        <h5 class="card-title">{{ item }}</h5>
        <div style="display: inline-block;">
            <div *ngIf="isWho[i]" style="display: inline-block;">
                <button *ngIf="isWho[i][0]" (click)="onClickOwner(idArray[i])" class="btn btn-primary" style="border:none; margin: 4px;">Owner view</button>
                <button *ngIf="isWho[i][1]" (click)="onClickCommunity(idArray[i])" class="btn btn-primary" style="border:none; margin: 4px;">Community view</button>
                <button *ngIf="isWho[i][2]" (click)="onClickInteraction(idArray[i])" class="btn btn-primary" style="border:none; margin: 4px;">Interaction view</button>
            </div>
            <button (click)="viewParagraph(idArray[i])" class="btn btn-primary" style="border:none;">Public View</button>
        </div> 
      <p *ngIf="!isWho[i]" style="font-size: x-small;margin: 10px; ">Sign in for other views</p>
      <p style="font-size: small;margin: 10px;">Revealed score: {{ revealScoreToPublicArray[i] }}</p>
    </div>
</div>