<p>home works!</p>

<!-- <form cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of items; let i = index" cdkDrag>
        <textarea [id]="'text' + i" [placeholder]="item.placeholder" [(ngModel)]="item.text" [name]="'item-' + i" [ngModelOptions]="{standalone: true}" ></textarea>
        <input [id]="'text' + i" [type]="'text'" [placeholder]="item.placeholder" [(ngModel)]="item.text" [name]="'item-' + i" [ngModelOptions]="{standalone: true}" />
    </div>
</form> -->
  <!-- <button (click)="getSortedItems()">Get sorted items</button> -->